.countdown {
  .countdown__title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 20rem;
    margin: 0 auto 3rem;
    font-size: 1.3rem;
  }

  .countdown__inputs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%s;

    .input-field {
      width: 20rem;
      background-color: lightgray;
      border-radius: 0.5rem;

      label {
        font-style: italic;
      }
    }
  }
}
