html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  background-color: #4945459f;
  max-width: 100%;

  .search {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;

    &__inputs {
      flex-grow: 1;
      height: 100%;

      .inputs {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: #1a1818c2;
        color: white;

        &__form {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          gap: 1rem;

          .input label {
            color: white;
          }

          #filled-basic {
            color: white;
          }
        }

        #search-btn {
          align-self: center;
          width: 8rem;
          height: 3rem;
        }
      }

      .city-weather-data {
        display: flex;
        justify-content: space-around;
        padding: 2rem 0.5rem 2rem;
        margin: auto;

        &__name {
          align-self: center;
        }

        &__info {
          display: flex;
          max-width: 50rem;
          gap: 1rem;
          text-align: right;

          .weather-icon {
            height: 5rem;
          }
        }

        .info {
          font-weight: bold;
          font-size: 1.5rem;
        }
      }
    }

    .default-cities {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      .default-city {
        flex: 1 0 18rem;
        height: auto;
        background-color: #555050c2;
        color: white;

        &-weather-data {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2rem;
        }
      }
    }
  }
}
