.app-container {
  background-color: #131212de;
  height: 100vh;
  margin: auto;

  a {
    text-decoration: none;
    color: white;
  }

  ul,
  li {
    list-style-type: none;
  }

  .container {
    padding-top: 1rem;
    margin: auto;
    max-width: 80rem;
    width: 100%;

    .header {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .react-logo {
        height: 4rem;
      }
    }
  }
}
